interactions:
- request:
    body: '{"grant_type": "password", "scope": "GUIAccess", "username": "username",
      "password": password}'
    headers:
    method: POST
    uri: https://address.to.ups1/rest/mbdetnrs/1.0/oauth2/token
  response:
    body:
      string: '{"expires_in": 899,"token_type": "Bearer","access_token": "ODAwNjZkZmNhZWFjNTNjYzc2","user_profile":
        "viewers","user_permissions": "[role-alarm-viewer,role-power-viewer,role-sensor-viewer,role-session-configure-self,role-system-info-viewer,role-user-configure-self,role-cli-access,role-system-info-viewer]"}


        '
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
