interactions:
- request:
    body: null
    headers:
      Authorization:
      - None None
    method: GET
    uri: https://address.to.ups1/rest/mbdetnrs/1.0/powerDistributions/1
  response:
    body:
      string: '<html><body><h1>Error</h1><p>Unauthorized</p></body></html>

        '
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"grant_type": "password", "scope": "GUIAccess", "username": "username",
      "password": password}'
    headers:
    method: POST
    uri: https://address.to.ups1/rest/mbdetnrs/1.0/oauth2/token
  response:
    body:
      string: '{"expires_in": 899,"token_type": "Bearer","access_token": "YjA5Mjg0MDAwMWQxYmU3NjJj","user_profile":
        "viewers","user_permissions": "[role-alarm-viewer,role-power-viewer,role-sensor-viewer,role-session-configure-self,role-system-info-viewer,role-user-configure-self,role-cli-access,role-system-info-viewer]"}


        '
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer YjA5Mjg0MDAwMWQxYmU3NjJj
    method: GET
    uri: https://address.to.ups1/rest/mbdetnrs/1.0/powerDistributions/1
  response:
    body:
      string: "{\n\t\"@id\": \"/rest/mbdetnrs/1.0/powerDistributions/1\",\n\t\"id\":
        \"1\",\n\t\"identification\": {\n\t\t\"uuid\": \"1e3e39e3-d95d-5113-b897-bd31290f82fb\",\n\t\t\"vendor\":
        \"EATON\",\n\t\t\"model\": \"Eaton 5P 1550\",\n\t\t\"serialNumber\": \"G117K46202\",\n\t\t\"type\":
        \"5P1550\",\n\t\t\"partNumber\": \"5P1550\",\n\t\t\"firmwareVersion\": \"02.14.0026\",\n\t\t\"name\":
        \"Eaton 5P 1550\",\n\t\t\"contact\": \"\",\n\t\t\"location\": \"\",\n\t\t\"interface\":
        \"/rest/mbdetnrs/1.0/powerDistributions/1\"\n\t},\n\t\"specification\": {\n\t\t\"type\":
        1\n\t},\n\t\"configuration\": {\n\t\t\"nominalFrequency\": 50,\n\t\t\"nominalVoltage\":
        230,\n\t\t\"nominalActivePower\": 1100,\n\t\t\"nominalApparentPower\": 1550,\n\t\t\"nominalPercentLoad\":
        105\n\t},\n\t\"ups\": {\n\t\t\"mode\": 9,\n\t\t\"modeLevel\": 1,\n\t\t\"topology\":
        1\n\t},\n\t\"status\": {\n\t\t\"operating\": 16,\n\t\t\"health\": 5\n\t},\n\t\"inputs\":
        {\n\t\t\"@id\": \"/rest/mbdetnrs/1.0/powerDistributions/1/inputs\"\n\t},\n\t\"avr\":
        {\n\t\t\"@id\": \"/rest/mbdetnrs/1.0/powerDistributions/1/avr\"\n\t},\n\t\"outputs\":
        {\n\t\t\"@id\": \"/rest/mbdetnrs/1.0/powerDistributions/1/outputs\"\n\t},\n\t\"inverters\":
        {\n\t\t\"@id\": \"/rest/mbdetnrs/1.0/powerDistributions/1/inverters\"\n\t},\n\t\"chargers\":
        {\n\t\t\"@id\": \"/rest/mbdetnrs/1.0/powerDistributions/1/chargers\"\n\t},\n\t\"backupSystem\":
        {\n\t\t\"@id\": \"/rest/mbdetnrs/1.0/powerDistributions/1/backupSystem\"\n\t},\n\t\"bypass\":
        {\n\t\t\"@id\": \"/rest/mbdetnrs/1.0/powerDistributions/1/bypass\"\n\t},\n\t\"rectifiers\":
        {\n\t\t\"@id\": \"/rest/mbdetnrs/1.0/powerDistributions/1/rectifiers\"\n\t},\n\t\"outlets\":
        {\n\t\t\"members@count\": 3,\n\t\t\"members\": [\n\t\t\t{\n\t\t\t\t\"@id\":
        \"/rest/mbdetnrs/1.0/powerDistributions/1/outlets/_SHkPSSPUVm3Uvme8XaZ2w\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"@id\":
        \"/rest/mbdetnrs/1.0/powerDistributions/1/outlets/ntyTH9M9VHCqR4ONgALeUA\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"@id\":
        \"/rest/mbdetnrs/1.0/powerDistributions/1/outlets/KZDUq7PyUfuj5OpvnZr7Iw\"\n\t\t\t}\n\t\t]\n\t}\n}\n"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer YjA5Mjg0MDAwMWQxYmU3NjJj
    method: GET
    uri: https://address.to.ups1/rest/mbdetnrs/1.0/powerDistributions/1/inputs/1
  response:
    body:
      string: "{\n\t\"@id\": \"/rest/mbdetnrs/1.0/powerDistributions/1/inputs/1\",\n\t\"id\":
        \"1\",\n\t\"measures\": {\n\t\t\"realtime\": {\n\t\t\t\"frequency\": 49.9,\n\t\t\t\"voltage\":
        227.6,\n\t\t\t\"current\": 0.1\n\t\t}\n\t},\n\t\"status\": {\n\t\t\"operating\":
        16,\n\t\t\"health\": 5,\n\t\t\"state\": 2\n\t},\n\t\"phases\": {\n\t\t\"@id\":
        \"/rest/mbdetnrs/1.0/powerDistributions/1/inputs/1/phases\"\n\t}\n}\n"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer YjA5Mjg0MDAwMWQxYmU3NjJj
    method: GET
    uri: https://address.to.ups1/rest/mbdetnrs/1.0/powerDistributions/1/outputs/1
  response:
    body:
      string: "{\n\t\"@id\": \"/rest/mbdetnrs/1.0/powerDistributions/1/outputs/1\",\n\t\"id\":
        \"1\",\n\t\"measures\": {\n\t\t\"realtime\": {\n\t\t\t\"frequency\": 49.9,\n\t\t\t\"voltage\":
        227.6,\n\t\t\t\"current\": 0,\n\t\t\t\"activePower\": 0,\n\t\t\t\"apparentPower\":
        0,\n\t\t\t\"powerFactor\": 0,\n\t\t\t\"percentLoad\": 0\n\t\t}\n\t},\n\t\"status\":
        {\n\t\t\"operating\": 16,\n\t\t\"health\": 5,\n\t\t\"state\": 2\n\t},\n\t\"phases\":
        {\n\t\t\"@id\": \"/rest/mbdetnrs/1.0/powerDistributions/1/outputs/1/phases\"\n\t}\n}\n"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer YjA5Mjg0MDAwMWQxYmU3NjJj
    method: GET
    uri: https://address.to.ups1/rest/mbdetnrs/1.0/powerDistributions/1/backupSystem
  response:
    body:
      string: "{\n\t\"@id\": \"/rest/mbdetnrs/1.0/powerDistributions/1/backupSystem\",\n\t\"powerBank\":
        {\n\t\t\"@id\": \"/rest/mbdetnrs/1.0/powerDistributions/1/backupSystem/powerBank\"\n\t}\n}\n"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer YjA5Mjg0MDAwMWQxYmU3NjJj
    method: GET
    uri: https://address.to.ups1/rest/mbdetnrs/1.0/powerDistributions/1/backupSystem/powerBank
  response:
    body:
      string: "{\n\t\"@id\": \"/rest/mbdetnrs/1.0/powerDistributions/1/backupSystem/powerBank\",\n\t\"specification\":
        {\n\t\t\"technology\": \"batteries\",\n\t\t\"nominalVoltage\": 36,\n\t\t\"nominalChargeCapacity\":
        32400,\n\t\t\"capacityUnit\": 0\n\t},\n\t\"configuration\": {\n\t\t\"lowChargeCapacityLimit\":
        20,\n\t\t\"deepDischargeProtectionEnabled\": true\n\t},\n\t\"measures\": {\n\t\t\"voltage\":
        38.8,\n\t\t\"remainingChargeCapacity\": 100,\n\t\t\"remainingTime\": 15284\n\t},\n\t\"status\":
        {\n\t\t\"operating\": 5,\n\t\t\"health\": 5,\n\t\t\"state\": 1,\n\t\t\"present\":
        true,\n\t\t\"fault\": false,\n\t\t\"warning\": false,\n\t\t\"low\": false,\n\t\t\"criticallyLow\":
        false\n\t},\n\t\"test\": {\n\t\t\"configuration\": {\n\t\t\t\"period\": 2592000\n\t\t},\n\t\t\"result\":
        {\n\t\t\t\"level\": 1,\n\t\t\t\"timeStamp\": 1712304878,\n\t\t\t\"value\":
        1\n\t\t},\n\t\t\"status\": 4\n\t},\n\t\"lcm\": {\n\t\t\"replaceDate\": 1709270908,\n\t\t\"health\":
        15,\n\t\t\"expired\": true\n\t},\n\t\"entities\": {\n\t\t\"members@count\":
        1,\n\t\t\"members\": [\n\t\t\t{\n\t\t\t\t\"@id\": \"/rest/mbdetnrs/1.0/powerDistributions/1/backupSystem/powerBank/entities/S2VQRv4BWEKo-lgmRsRDVQ\"\n\t\t\t}\n\t\t]\n\t}\n}\n"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
